<!DOCTYPE html>

<html>

  <head>

    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Spicy+Rice" rel="stylesheet">
    <link rel= "stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <link rel= "stylesheet" type="text/css" href= "{{ url_for('static',filename='images.JPG') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/normalize.css') }}">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />


  </head>

  <body>

    <div>

      <nav class="blog-nav">

        <h1><a href="/" class="blog-nav">Blogz!</a></h1>
        <a href="/blog" class="blog-nav-a">View All Posts</a>
        <a href="/newpost"class="blog-nav-a">New Post</a>
        <a href="/logout"class='blog-nav-a'>Logout</a>
        <a href="/login"class='blog-nav-a'>Login</a>

      </nav>
      {% block content %}
      {% endblock %}

    </div>

  </body>

</html>